<div class="jumbotron fadeIn animated">
    <h1 class="display-4">Que usamos en esta SPA</h1>
    <p class="lead">Esta es una SPA (Single-Page Application) de herores, de Marvel y DC</p>
    <hr class="my-4">

    <p>Aquí vimos</p>
    <ul class="list-group">
        <li class="list-group-item">Rutas (router)</li>
        <li class="list-group-item">Componentes mediante CLI</li>
        <li class="list-group-item">Servicio (Proveedores de información)</li>
        <li class="list-group-item">RouterLink</li>
        <li class="list-group-item">Rutas parametrizadas</li>
        <li class="list-group-item">Eventos</li>
        <li class="list-group-item">Bootstrap local</li>
        <li class="list-group-item">Directivas estructurales (*ngIf & *ngFor)</li>
        <li class="list-group-item">Directiva ngClass</li>
    </ul>
    <br>
    <a class="btn btn-primary btn-lg" href="#" role="button" [routerLink]="['/home']">Home</a>
</div>