<h2>Pipes <small>Angular</small></h2>
<hr>

<div class="row">
    <div class="col">
        <table class="table">
            <thead class="thead-dark">
                <th>Variable</th>
                <th>PIPE</th>
                <th>Valor de salida</th>
            </thead>

            <tbody>
                <tr>
                    <td>{{Nombre}}</td>
                    <td>Uppercase</td>
                    <td>{{Nombre | uppercase}}</td>

                    <!-- Funcionan los Pipes -->
                    <!-- {{ nombre de variable | funcionPIPE }} -->
                </tr>
                <tr>
                    <td>{{Nombre}}</td>
                    <td>Lowercase</td>
                    <td>{{Nombre | lowercase}}</td>
                </tr>

                <!-- Primer CustomPipe (Capitalizado) -->
                <tr>
                    <td>{{NombreAlterno}}</td>
                    <td>Capitalizado</td>
                    <td>{{NombreAlterno | capitalizado}}</td>
                </tr>

                <tr>
                    <td>{{Nombre}}</td>
                    <td>slice:3</td>
                    <!-- Corta la cadena los primeros 3 caracteres -->
                    <td>{{Nombre | slice:3}}</td>
                </tr>
                <tr>
                    <td>{{Nombre}}</td>
                    <td>slice:4:9</td>
                    <!-- corta los que no esten en el intervalo de 4 a 9-1 -->
                    <td>{{Nombre | slice:4:9}}</td>
                </tr>
                <tr>
                    <td>{{ArrayPrueba}}</td>
                    <td>slice:4:9</td>
                    <!-- corta los que no esten en el intervalo de 4 a 9-1 -->
                    <td>{{ArrayPrueba | slice:4:9}}</td>
                </tr>
                <tr>
                    <td>{{pi}}</td>
                    <td>Decimal</td>
                    <td>{{pi | number}}</td>
                </tr>
                <tr>
                    <td>{{pi}}</td>
                    <td>Decimal</td>
                    <td>{{pi | number:'3.0-5'}}</td>
                </tr>
                <tr>
                    <td>{{fecha}}</td>
                    <td>Date</td>
                    <td>{{fecha | date:'shortDate'}}</td>
                </tr>
                <tr>
                    <td>{{precio}}</td>
                    <td>Currency</td>
                    <td>{{precio | currency:'EUR'}}</td>
                </tr>

                <!-- Custom pipe : (Password) -->
                <tr class="py-2">
                    <td>{{Nombre}}</td>
                    <td>Password
                        <br>
                        <button class="btn btn-primary"
                        (click)="mostrar = !mostrar">Mostrar/Ocultar</button>
                    </td>
                    
                    <td>{{Nombre | password:mostrar}}</td>
                    <!-- Convertir el nombre a asteriscos *** al dar el boton ocultar -->
                </tr>
            </tbody>
        </table>

        <h4>Slice</h4>

        <ul>
            <li *ngFor="let item of ArrayPrueba | slice:2:6">{{item}}</li>
        </ul>
    </div>
</div>

<h3>DOM Seguro</h3>
<hr>

<div class="row">
    <div class="col">
        <!-- Nos protege de un script maligno -->
        <iframe width="560" height="315" [src]="VideoURL | domSeguro" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
