<div class="fast fadeIn">
    

    <div *ngIf="arrayVacio()">
        <div class="alert alert-warning" role="alert">
            No se encuentran resultados para el termino <strong>'{{strBusqueda}}'</strong>
        </div>
        <h3 class="animated fadeIn">Oops... no se encontraron coincidencias :( vuelve a buscar'</h3>
    </div>

    <div *ngIf="!arrayVacio()">
        <div class="row">
            <div class="card-columns">
                <app-hero-card [PadreHero]="hero"
                [Index]="hero.index"
                *ngFor="let hero of Resultados; let i = index;"></app-hero-card>
            </div>
        </div>
    </div>

</div>